# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore virtual environment
venv/

# Ignore Jupyter Notebook checkpoints (if you were using them)
.ipynb_checkpoints/

# Ignore pyenv files
.python-version

# Ignore IDE-specific files
.idea/
.vscode/

# Ignore system files
.DS_Store
Thumbs.db
